@font-face {
  /* declare fonts */
  font-family: "MuseoSans";
  src: url("/assets/fonts/Webfonts/museosans_500_macroman/museosans_500_macroman.eot");
  src: local("MuseoSans 300"), local("MuseoSans-300"), url("/assets/fonts/Webfonts/museosans_500_macroman/museosans_500_macroman.woff") format("woff"), url("/assets/fonts/Webfonts/museosans_500_macroman/museosans_500_macroman.otf") format("opentype") url("assts/fonts/Museo300-Regular.svg#Museo-300") format("svg");
}

/* display fonts */
/* line 15, ../compass/sass/main.scss */
html {
  font-family: MuseoSans;
}

/* line 16, ../compass/sass/main.scss */
h1 {
  font: 60px MuseoSans, Verdana, sans-serif;
}

/* line 17, ../compass/sass/main.scss */
h2 {
  font: 18px MuseoSans, Verdana, sans-serif;
}

/* line 18, ../compass/sass/main.scss */
h3 {
  font: 12px MuseoSans, Verdana, sans-serif;
}

/* line 19, ../compass/sass/main.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 22, ../compass/sass/main.scss */
a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* line 24, ../compass/sass/main.scss */
.clear {
  height: 500px;
  width: 100%;
  clear: both;
}

/* line 27, ../compass/sass/main.scss */
.general-info-links a {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: #d1bfbf;
  font-size: 12px;
  border-right: 1px solid #d1bfbf;
  padding-right: 20px;
}

/* line 36, ../compass/sass/main.scss */
.general-info-links a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* line 41, ../compass/sass/main.scss */
.general-info-links a:first-child {
  border: none;
}

/* line 46, ../compass/sass/main.scss */
nav a {
  padding-left: 50px;
  color: black;
  font-weight: bold;
  margin-right: -10px;
}

/* line 53, ../compass/sass/main.scss */
.nav-wrapper > a:hover {
  color: #4c69a1;
}

/* line 58, ../compass/sass/main.scss */
.nav-wrapper {
  float: right;
  margin-top: 100px;
  margin-right: 25px;
  font-weight: bold;
}
/* line 63, ../compass/sass/main.scss */
.nav-wrapper .icons {
  -webkit-filter: invert(100%);
  width: 30px;
  height: 30px;
  display: inline;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 5px;
}
/* line 72, ../compass/sass/main.scss */
.nav-wrapper a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* line 78, ../compass/sass/main.scss */
header {
  width: 100%;
  margin: 0px auto;
  background-image: url("../images/banner.png");
  height: 214px;
}
/* line 83, ../compass/sass/main.scss */
header .title {
  color: white;
  display: inline-block;
  margin-top: 100px;
  margin-left: 25px;
}

/* line 91, ../compass/sass/main.scss */
.product-category {
  margin-top: 5px;
  color: black;
  font-weight: bold;
}
/* line 95, ../compass/sass/main.scss */
.product-category .category-nav {
  margin-left: 30px;
}

/* line 99, ../compass/sass/main.scss */
.product a:hover {
  color: #4c69a1;
}

/* line 102, ../compass/sass/main.scss */
.product-overview {
  background-image: url("../images/hiker.png");
  background-repeat: no-repeat;
  height: 410px;
  margin-top: 0px;
  margin-bottom: 15px;
  display: inline-block;
}

/* line 110, ../compass/sass/main.scss */
.aside {
  height: 410px;
  margin-top: 15px;
  margin-bottom: 50px;
  display: inline-block;
}

/* line 116, ../compass/sass/main.scss */
.shopping-cart {
  margin: 0px;
}
/* line 118, ../compass/sass/main.scss */
.shopping-cart .items {
  position: relative;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #d1bfbf;
}
/* line 124, ../compass/sass/main.scss */
.shopping-cart .items:hover {
  background-color: #e8ecf4;
  color: #4c69a1;
}

/* line 131, ../compass/sass/main.scss */
.footer {
  margin-top: 100px;
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 0 1%;
  clear: both;
}
/* line 138, ../compass/sass/main.scss */
.footer h1 {
  font-weight: bold;
}
/* line 139, ../compass/sass/main.scss */
.footer li {
  list-style: none;
  font-size: 12px;
  color: #d1bfbf;
  margin-top: 20px;
}
/* line 145, ../compass/sass/main.scss */
.footer li a {
  list-style: none;
  font-size: 12px;
  color: #d1bfbf;
  margin-top: 20px;
}
/* line 151, ../compass/sass/main.scss */
.footer h2 {
  color: black;
  font-weight: bolder;
}
/* line 156, ../compass/sass/main.scss */
.footer .icons {
  -webkit-filter: invert(100%);
  width: 25px;
  height: 25px;
  display: inline;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 5px;
}
/* line 166, ../compass/sass/main.scss */
.footer a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* *************************************Layout*****************************************************/
/* line 179, ../compass/sass/main.scss */
.container-1000 {
  margin: 0 auto;
  padding: 0 0 0 1%;
}

/* line 184, ../compass/sass/main.scss */
.container-1200 {
  margin: 0 auto;
  padding: 0 0 0 1%;
  max-width: 1220px;
}

/* line 190, ../compass/sass/main.scss */
.container-1000 {
  max-width: 1020px;
}

/* line 194, ../compass/sass/main.scss */
.row {
  clear: both;
  padding: 0 10px;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
/* line 203, ../compass/sass/main.scss */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin: 0 3% 0 0;
  margin-top: 15px;
}

/* line 209, ../compass/sass/main.scss */
.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
  margin: 0;
  margin-top: 15px;
}

/* line 214, ../compass/sass/main.scss */
.col1 {
  width: 5.5%;
}

/* line 218, ../compass/sass/main.scss */
.col2 {
  width: 14%;
}

/* line 222, ../compass/sass/main.scss */
.col3 {
  width: 22.5%;
}

/* line 226, ../compass/sass/main.scss */
.col4 {
  width: 31%;
}

/* line 230, ../compass/sass/main.scss */
.col5 {
  width: 39.5%;
}

/* line 234, ../compass/sass/main.scss */
.col6 {
  width: 48%;
}

/* line 238, ../compass/sass/main.scss */
.col7 {
  width: 56.5%;
}

/* line 242, ../compass/sass/main.scss */
.col8 {
  width: 65%;
}

/* line 246, ../compass/sass/main.scss */
.col9 {
  width: 73.5%;
}

/* line 250, ../compass/sass/main.scss */
.col10 {
  width: 82%;
}

/* line 254, ../compass/sass/main.scss */
.col11 {
  width: 90.5%;
}

/* line 258, ../compass/sass/main.scss */
.col12 {
  width: 99%;
  margin: 0;
}

/* line 262, ../compass/sass/main.scss */
.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 15px;
}

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
  /* line 273, ../compass/sass/main.scss */
  .container-1000 {
    max-width: 1000px;
  }
  /* line 275, ../compass/sass/main.scss */
  .container-1000 .onerow {
    padding: 0;
  }
}
/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 900px) {
  /* line 286, ../compass/sass/main.scss */
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    float: none;
    width: 99%;
  }
}
/* line 295, ../compass/sass/main.scss */
.pack-image {
  text-align: center;
  width: 200px;
  margin-top: auto;
  margin-top: 100px;
}

/* line 303, ../compass/sass/main.scss */
.pack-image img {
  width: 120px;
  height: auto;
  margin-top: -60px;
  display: block;
}

/* line 310, ../compass/sass/main.scss */
.bonus-details {
  display: none;
}
/* line 312, ../compass/sass/main.scss */
.bonus-details .details-button {
  width: 100px;
  background-color: #4c69a1;
  border: none;
  color: white;
  padding: 5px;
}
/* line 319, ../compass/sass/main.scss */
.bonus-details p {
  margin-top: 0px;
}
/* line 322, ../compass/sass/main.scss */
.bonus-details .buy-now-button {
  width: 100px;
  background-color: black;
  border: none;
  color: white;
  padding: 5px;
}

/* line 333, ../compass/sass/main.scss */
.product-overview {
  display: block;
  min-height: 400px;
  width: 280px;
  position: relative;
}

/* line 339, ../compass/sass/main.scss */
.pack-image {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  top: 0;
  position: relative;
  margin-top: 187px;
}

/* line 348, ../compass/sass/main.scss */
.pack-image img {
  width: 120px;
  margin: auto;
  height: auto;
  margin-top: -60px;
  display: block;
}
