@font-face {
  /* declare fonts */
  font-family: "MuseoSans";
  src: url("/assets/fonts/Webfonts/museosans_500_macroman/museosans_500_macroman.eot");
  src: local("MuseoSans 300"), local("MuseoSans-300"), url("/assets/fonts/Webfonts/museosans_500_macroman/museosans_500_macroman.woff") format("woff"), url("/assets/fonts/Webfonts/museosans_500_macroman/museosans_500_macroman.otf") format("opentype") url("assts/fonts/Museo300-Regular.svg#Museo-300") format("svg");
}

/* display fonts */
/* line 16, ../compass/sass/main.scss */
html {
  font-family: MuseoSans;
}

/* line 17, ../compass/sass/main.scss */
h1 {
  font: 60px MuseoSans, Verdana, sans-serif;
}

/* line 18, ../compass/sass/main.scss */
h2 {
  font: 18px MuseoSans, Verdana, sans-serif;
}

/* line 19, ../compass/sass/main.scss */
h3 {
  font: 12px MuseoSans, Verdana, sans-serif;
}

/* line 20, ../compass/sass/main.scss */
a {
  text-decoration: none;
  color: black;
}

/* line 23, ../compass/sass/main.scss */
a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* line 25, ../compass/sass/main.scss */
.clear {
  height: 500px;
  width: 100%;
  clear: both;
}

/* line 28, ../compass/sass/main.scss */
.general-info-links a {
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: #d1bfbf;
  font-size: 12px;
  border-right: 1px solid #d1bfbf;
  padding-right: 20px;
}

/* line 37, ../compass/sass/main.scss */
.general-info-links a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* line 42, ../compass/sass/main.scss */
.general-info-links a:first-child {
  border: none;
}

/* line 47, ../compass/sass/main.scss */
nav a {
  padding-left: 25px;
  color: black;
  font-weight: bold;
  margin-right: -5px;
}

/* line 54, ../compass/sass/main.scss */
.nav-wrapper > a:hover {
  color: #4c69a1;
}

/* line 59, ../compass/sass/main.scss */
.nav-wrapper {
  float: right;
  margin-top: 100px;
  margin-right: 25px;
  font-weight: bold;
}
/* line 64, ../compass/sass/main.scss */
.nav-wrapper .icons {
  -webkit-filter: invert(100%);
  width: 30px;
  height: 30px;
  display: inline;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 5px;
}
/* line 73, ../compass/sass/main.scss */
.nav-wrapper a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* line 79, ../compass/sass/main.scss */
.pack-list {
  display: none;
  width: 960px;
  height: 214px;
  margin: auto;
  background-color: #d1bfbf;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  color: white;
}

/* line 90, ../compass/sass/main.scss */
header {
  width: 100%;
  margin: auto;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  height: 214px;
}
/* line 96, ../compass/sass/main.scss */
header .title {
  color: white;
  display: inline-block;
  margin-top: 100px;
  margin-left: 25px;
}

/* line 104, ../compass/sass/main.scss */
.product-category {
  margin-top: 5px;
  color: black;
  font-weight: bold;
}
/* line 108, ../compass/sass/main.scss */
.product-category .category-nav {
  margin-left: 30px;
}

/* line 112, ../compass/sass/main.scss */
.product a:hover {
  color: #4c69a1;
}

/* line 115, ../compass/sass/main.scss */
.product-overview {
  background-image: url("../images/hiker.png");
  background-repeat: no-repeat;
  height: 410px;
  margin-top: 0px;
  margin-bottom: 15px;
  display: inline-block;
}

/* line 123, ../compass/sass/main.scss */
.aside {
  height: 410px;
  margin-top: 15px;
  margin-bottom: 50px;
  display: inline-block;
}

/* line 129, ../compass/sass/main.scss */
.shopping-cart {
  margin: 0px;
}
/* line 131, ../compass/sass/main.scss */
.shopping-cart .items {
  position: relative;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #d1bfbf;
}
/* line 137, ../compass/sass/main.scss */
.shopping-cart .items:hover {
  background-color: #e8ecf4;
  color: #4c69a1;
}

/* line 144, ../compass/sass/main.scss */
.footer {
  margin-top: 100px;
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 0 1%;
  clear: both;
}
/* line 151, ../compass/sass/main.scss */
.footer h1 {
  font-weight: bold;
}
/* line 152, ../compass/sass/main.scss */
.footer li {
  list-style: none;
  font-size: 12px;
  color: #d1bfbf;
  margin-top: 20px;
}
/* line 158, ../compass/sass/main.scss */
.footer li a {
  list-style: none;
  font-size: 12px;
  color: #d1bfbf;
  margin-top: 20px;
}
/* line 164, ../compass/sass/main.scss */
.footer h2 {
  color: black;
  font-weight: bolder;
}
/* line 169, ../compass/sass/main.scss */
.footer .icons {
  -webkit-filter: invert(100%);
  width: 25px;
  height: 25px;
  display: inline;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 5px;
}
/* line 179, ../compass/sass/main.scss */
.footer a:hover {
  color: #4c69a1;
  font-weight: bold;
}

/* *************************************Layout*****************************************************/
/* line 192, ../compass/sass/main.scss */
.container-1000 {
  margin: 0 auto;
  padding: 0 0 0 1%;
}

/* line 197, ../compass/sass/main.scss */
.container-1200 {
  margin: 0 auto;
  padding: 0 0 0 1%;
  max-width: 1220px;
}

/* line 203, ../compass/sass/main.scss */
.container-1000 {
  max-width: 1020px;
}

/* line 207, ../compass/sass/main.scss */
.row {
  clear: both;
  padding: 0 10px;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
/* line 216, ../compass/sass/main.scss */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
  float: left;
  margin: 0 3% 0 0;
  margin-top: 15px;
}

/* line 222, ../compass/sass/main.scss */
.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
  margin: 0;
  margin-top: 15px;
}

/* line 227, ../compass/sass/main.scss */
.col1 {
  width: 5.5%;
}

/* line 231, ../compass/sass/main.scss */
.col2 {
  width: 14%;
}

/* line 235, ../compass/sass/main.scss */
.col3 {
  width: 22.5%;
}

/* line 239, ../compass/sass/main.scss */
.col4 {
  width: 31%;
}

/* line 243, ../compass/sass/main.scss */
.col5 {
  width: 39.5%;
}

/* line 247, ../compass/sass/main.scss */
.col6 {
  width: 48%;
}

/* line 251, ../compass/sass/main.scss */
.col7 {
  width: 56.5%;
}

/* line 255, ../compass/sass/main.scss */
.col8 {
  width: 65%;
}

/* line 259, ../compass/sass/main.scss */
.col9 {
  width: 73.5%;
}

/* line 263, ../compass/sass/main.scss */
.col10 {
  width: 82%;
}

/* line 267, ../compass/sass/main.scss */
.col11 {
  width: 90.5%;
}

/* line 271, ../compass/sass/main.scss */
.col12 {
  width: 99%;
  margin: 0;
}

/* line 275, ../compass/sass/main.scss */
.col1 img, .col2 img, .col3 img, .col4 img, .col5 img, .col6 img, .col7 img, .col8 img, .col9 img, .col10 img, .col11 img, .col12 img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 15px;
}

/* *********************************************************************************************************************
 * Disable padding left/right 10px if I'm 1024 or gibber - correct percentage math
 */
@media all and (min-width: 1024px) {
  /* line 286, ../compass/sass/main.scss */
  .container-1000 {
    max-width: 1000px;
  }
  /* line 288, ../compass/sass/main.scss */
  .container-1000 .onerow {
    padding: 0;
  }
}
/* *********************************************************************************************************************
 * Small devices
 */
@media all and (max-width: 900px) {
  /* line 299, ../compass/sass/main.scss */
  .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
    float: none;
    width: 99%;
  }
}
/* line 308, ../compass/sass/main.scss */
.pack-image {
  text-align: center;
  width: 200px;
  margin-top: auto;
  margin-top: 100px;
}

/* line 316, ../compass/sass/main.scss */
.pack-image img {
  width: 120px;
  height: auto;
  margin-top: -60px;
  display: block;
}

/* line 325, ../compass/sass/main.scss */
.bonus-details .details-button {
  width: 100px;
  background-color: #4c69a1;
  border: none;
  color: white;
  padding: 5px;
}
/* line 332, ../compass/sass/main.scss */
.bonus-details p {
  margin-top: 0px;
}
/* line 335, ../compass/sass/main.scss */
.bonus-details .buy-now-button {
  width: 100px;
  background-color: black;
  border: none;
  color: white;
  padding: 5px;
}

/* line 346, ../compass/sass/main.scss */
.product-overview {
  display: block;
  min-height: 400px;
  width: 280px;
  position: relative;
  overflow: hidden;
}

/* line 353, ../compass/sass/main.scss */
.pack-image {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  top: 0;
  position: relative;
  margin-top: 187px;
}

/* line 362, ../compass/sass/main.scss */
.pack-image img {
  width: 120px;
  margin: auto;
  height: auto;
  margin-top: -60px;
  display: block;
}

/* line 370, ../compass/sass/main.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #161717;
  display: inline-block;
  margin-bottom: 2px;
  margin-left: 12px;
}

/* line 380, ../compass/sass/main.scss */
.nav-marker-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #161717;
  display: inline-block;
  position: absolute;
  margin-top: 10px;
  margin-left: 45px;
}

/* line 392, ../compass/sass/main.scss */
.show-js {
  display: none;
}

/* line 396, ../compass/sass/main.scss */
.nav-wrap {
  margin: 50px auto;
  background-color: rgba(0, 0, 0, 0.6);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

/* line 397, ../compass/sass/main.scss */
#example-one {
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 960px;
}

/* line 398, ../compass/sass/main.scss */
#example-one li {
  display: inline;
}

/* line 399, ../compass/sass/main.scss */
#example-one li a {
  color: #bbb;
  font-size: 14px;
  display: block;
  float: left;
  padding: 6px 10px 4px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 400, ../compass/sass/main.scss */
#example-one li a:hover {
  color: white;
}

/* line 401, ../compass/sass/main.scss */
#magic-line {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #fe4902;
}
